/* define default box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* variables */
:root {
    --color-theme: green;
    --color-text: black;
    --color-text-light: white;
    --color-text-placeholder: darkgray;
    --color-white: white;
    --color-background: var(--color-white);
    --color-background-modal: whitesmoke;
    --color-button-light: lightgray;
    --color-button-light-hover: gray;

    --color-button-dark: gray;
    --size-container: 40rem;
}

/* default layout */

html,
body,
#root,
.App {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    min-width: 100%;
}

html {
    font-family: sans-serif;
    font-size: 17px;
}

body {
    margin: 0px;
}


/* default elements */
picture {
    display: block;
}
details {    
}
summary {
    cursor: pointer;
}

/* application specifics */
.App {
    margin: 0 auto;
}

.AppHeader{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    position: sticky;
    top: 0;
    max-width: 100vw;
    overflow-x: scroll;
    scrollbar-width: none;
}
.AppHeaderItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    left: 0;
    background-color: var(--color-background);
}

.AppPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
@media (min-width: 40rem) {
    .AppPanel {
	display: flex;
	flex-direction: row;
    }    
}
.headerButton {
    margin-right: 1rem;
}

.AppFooter {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.AppFooter a {
    padding: 0.5rem;
}

.AppMain {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 60rem) {
    .AppMain {
	flex-direction: row;
    }
}

.topRightNav{
    /* display: flex; */
}

.titleAndLogo {
    display: flex;
    align-items: center;
    user-select: none;
}
.titleAndLogo a {
    padding: 0.5rem;
    display: flex;
}

.titleAndLogo a,
.titleAndLogo a:visited {
    text-decoration: none;
    color: var(--color-text);
}

.button {
    color: var(--color-text);
    border-radius: 0.2rem;
    font-style: normal;
    font-weight: normal;
    padding: 0.4rem 0.9rem;
    transition: background-color 200ms ease-in-out;
    border: 1px solid transparent;
}
.smallButton {
    padding: 0.2rem;
}

.lightButton {
    background-color: transparent;
}
.darkButton {
    background-color: var(--color-button-dark);
    color: var(--color-text-light);
}

button:hover{
    cursor: pointer;
}

.loggedInUser{
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 2rem;
    min-width: 2rem;
    transition: max-width 500ms ease-in-out;
}
@media (min-width: 40rem) {
    .loggedInUser{
	max-width: 100%;
	font-size: 0.8rem;
    }   
}


.modalSignInButton{
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 40rem) {
    .Modal{
	padding: 1rem;
    }
}

.ModalHeader{
    margin-bottom: 1.5rem;
}
.ModalTitle {
    font-size: 1rem;
}

.Modal--isVisible {
    display: flex;
}
  
.Modal--notVisible {
    display: none;
}
.ModalOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.6);
}
.ModalMain{
    background-color: var(--color-background-modal);
    padding: 0.5rem;
    width: 100%;
    max-width: 40rem;
}
@media (min-width: 30rem) {
    .ModalMain {
	padding: 1.5rem;
    }
}

.closeButton{
    cursor: pointer;
    margin: 8px;
    float: right;
}

.filterButton{
    display: none;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.errblock {
    background-color: lightcoral;
    padding: 15px;
}

/* custom r4 player */
.Player {
    max-height: 0;
    opacity: 0;
    user-select: none;
    transition: max-height 200ms ease-in-out, opacity 200ms ease-in-out,;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.Player--isPlaying {
    order: 0;
    z-index: 1;
    position: sticky;
    top: 0rem;
    max-height: 100vh;
    opacity: 1;
}
@media (min-width: 40rem) {
   .Player--isPlaying {
	order: 1;
    }
}

.Player radio4000-player {
    height: 100%;
}

.Player--isPlaying + .AppMain {
    margin-top: 2rem;
}


/* form */
.Form {
    display: flex;
    flex-direction: column;
}
.FormItem {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FormItemSubmit {
    align-items: flex-end;
    padding-top: 1rem;
}
.FormItemHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.FormItemHorizontal .FormItemTitle {
    margin-right: 1rem;
}
.FormItemTitle {    
    color: var(--color-text-placeholder);
    padding: 0.5rem;
}
.Input,
.Textarea {
    color: var(--color-text);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid transparent;
}

.Input::placeholder,
.Textarea::placeholder {
    opacity: 1;
    color: var(--color-text-placeholder);
}

.Input {
    flex-grow: 1;
}
.InputFile {
    font-style: italic;
    font-size: 0.8rem;
}
.Textarea {
    min-width: 100%;
    max-width: 100%;
}


/* player */
library-player {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-modal);
    border: 0.1rem solid transparent;
    margin: 0.3rem;
    transition: border-color 200ms ease-in-out;
    max-width: 95vw;
}
library-player[full-screen="true"] {
    padding: 0;
}

@media (min-width: 40rem) {
    library-player {
	max-width: 30vw;
    }
    library-player[full-screen="true"] {
	max-width: 95vw;
    }
}


player-view {
    display: flex;
    overflow-x: scroll;
    height: 100%;
}

library-player:hover {
    border-color: var(--color-text);
}

library-player[closed="true"] {
    display: none;
}

player-view img {
    max-height: 22vh;
    padding: 2rem;
}
library-player[full-screen="true"] player-view img {
    max-height: 95vh;
    max-width: 95vh;
}

player-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

player-slide  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
library-player[full-screen="true"] player-slide {
    min-width: 90vw;
}
