.errblock {
    background-color: lightcoral;
    padding: 0.5rem;
}

.UserPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 1rem;
}

.UserPageHeader{
    padding: 0.5rem;
    margin-bottom: 1rem;
    max-width: 100vw;

    /* position: sticky; */
    /* top: 0; */
    /* background-color: var(--color-background-modal); */
}

.userSection {
    overflow-x: scroll;
    scrollbar-width: none;
    
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.displayName{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.userInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.userName{
    font-style: italic;
    font-size: 0.8rem;
    white-space: nowrap;
}
@media (min-width: 40rem) {
    .userName {
	max-width: none;
    }
}

.tabGroup{
    display: none;
    align-items: center;
    justify-content: space-around;
}

.tab{
    font-weight: 600;
    padding: 0.5rem;
    flex-grow: 1;
    cursor: pointer;
}

.emptyList {
    padding: 0.5rem;
    text-align: center;
}

.userAvatar{
    margin-right: 0.5rem;
    max-width: 2rem;
    max-height: 2rem;
}
