.errblock {
    background-color: lightcoral;
    padding: 15px;
}

.UserPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.UserPageHeader{
    max-width: var(--size-container);
    width: 90%;
    background: whitesmoke;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 2rem;
}

.UserPageBody{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.displayName{
    font-style: normal;
    font-weight: bold;

    margin-bottom: 0.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userName{
    max-width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (min-width: 40rem) {
    .userName {
	max-width: none;
    }
}

.tabGroup{
    display: none;
    align-items: center;
    justify-content: space-around;
}

.tabSelected {
    background: #F7F7F7;
    border-radius: 12px 12px 0px 0px;
}

.tab{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #2952BE;
    flex-grow: 1;
    cursor: pointer;
}

.emptyList {
    padding: 8px;
    text-align: center;
}

.userAvatar{
    margin-right: 1rem;
    max-width: 2rem;
    max-height: 2rem;
}

.userSection {
    display: flex;
    align-items: center;
}
